{% extends "base.html" %}
{% load i18n %}
{% load tz_detect %}
{% block head %}
    <title>Home | Pu Ngao</title>
{% endblock head %}
{% block body %}
    <main>
        <div class="flex justify-center p-4">
            <a class="btn btn-error btn-wide text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
               href="/alert">Alert</a>
        </div>
        <div class="flex justify-start">
            <p class="text-2xl font-bold ml-2 rounded-full p-3 bg-base-200">Pu Ngao</p>
        </div>
        <section>
            <div class="flex justify-center mt-10 h-auto w-auto place-content-center rounded-lg ml-10 mr-10 bg-base-200">
                <div class="overflow-x-auto ">
                    <table class="table">
                        <!-- head -->
                        <thead>
                            <tr>
                                <th></th>
                                <th class="font-bold text-2xl">Sensor</th>
                                <th class="font-bold text-2xl">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sensor, current_reading in s_and_wr %}
                                <!-- row -->
                                <tr class="hover">
                                    <th>{{ forloop.counter }}</th>
                                    <td>{{ sensor }}</td>
                                    {% if current_reading is not None %}
                                        {% if current_reading.clean_condition %}
                                            <td class="text-success font-bold">Drinkable</td>
                                        {% else %}
                                            <td class="text-error font-bold">Contaminated</td>
                                        {% endif %}
                                    {% else %}
                                        <td class="text-info font-bold">Gathering</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <span class="font-bold ml-auto flex justify-end mr-10 mt-3">{% tz_detect %} Last Updated at {% now "H:i" %}</span>
            </div>
        </section>
        <section>
            <div class="p-8 mb-20">
                <div>
                    <p class="font-bold text-1xl ml-3 mb-3 mt-10">Info</p>
                </div>
                <div class="collapse collapse-plus bg-base-200">
                    <input type="radio" name="my-accordion-3" checked="checked" />
                    <div class="collapse-title text-xl font-medium">{% trans "Sanitization" %}</div>
                    <div class="collapse-content">
                        <p>{% trans "Sanitization info" as local_var %} {{ local_var|linebreaksbr }}</p>
                    </div>
                </div>
                <div class="collapse collapse-plus bg-base-200">
                    <input type="radio" name="my-accordion-3" />
                    <div class="collapse-title text-xl font-medium">{% trans "Purification Techniques" %}</div>
                    <div class="collapse-content">
                        <p>{% trans "Purification Techniques info" as local_var %} {{ local_var|linebreaksbr }}</p>
                    </div>
                </div>
                <div class="collapse collapse-plus bg-base-200">
                    <input type="radio" name="my-accordion-3" />
                    <div class="collapse-title text-xl font-medium">{% trans "Contaminated Water" %}</div>
                    <div class="collapse-content">
                        <p>{% trans "Contaminated Water info" as local_var %} {{ local_var|linebreaksbr }}</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="fixed bottom-0 left-0 z-20 w-full p-4 bg-base-200 border-t shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-base-200 dark:border-gray-600">
        <span class="text-sm sm:text-center">© 2024 <a href="https://flowbite.com/" class="hover:underline">UEA</a> Water Sensor
        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a href="ourgoal.html" class="hover:underline me-4 md:me-6">Our Goal</a>
            </li>
        </ul>
    </footer>
{% endblock body %}
