{% extends "base.html" %}
{% block head %}
    <title>Hello Everyone</title>
{% endblock head %}
{% block body %}
    <main>
        Accessibility Settings
        <div class="form-control">
            <label class="label cursor-pointer gap-4">
              <span class="label-text">Light</span>
              <input type="radio" name="theme-radios" class="radio theme-controller" value="light"/>
            </label>
          </div>
          <div class="form-control">
            <label class="label cursor-pointer gap-4">
              <span class="label-text">Dark</span>
              <input type="radio" name="theme-radios" class="radio theme-controller" value="sunset"/>
            </label>
          </div>
          <div class="form-control">
            <label class="label cursor-pointer gap-4">
              <span class="label-text">High Contrast</span>
              <input type="radio" name="theme-radios" class="radio theme-controller" value="acid"/>
            </label>
    </main>
{% endblock body %}
