asgiref==3.8.1 ; python_version >= "3.11" and python_version < "4.0"
django-browser-reload==1.12.1 ; python_version >= "3.11" and python_version < "4.0"
django-htmx==1.17.3 ; python_version >= "3.11" and python_version < "4.0"
django-leaflet==0.30.0 ; python_version >= "3.11" and python_version < "4.0"
django==5.0.6 ; python_version >= "3.11" and python_version < "4.0"
psycopg-binary==3.1.19 ; python_version >= "3.11" and python_version < "4.0"
psycopg==3.1.19 ; python_version >= "3.11" and python_version < "4.0"
sqlparse==0.5.0 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.12.1 ; python_version >= "3.11" and python_version < "4.0"
tzdata==2024.1 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
