<dialog id="map_modal" class="modal">


{% extends 'base.html' %}
{% load static %}
{% block head %}
<script src="{% static 'add_sensor.js' %}" defer></script>
<script type="application/javascript">
    const data = JSON.parse("{{data | escapejs}}")
    console.log("Parsed Data:", data);
</script>

{% endblock %}

{% block body %}

<div id="map" style="width: 500px; height: 500px;"></div>
<button onclick="document.getElementById('map_modal').close()" class="btn btn-sm btn-circle absolute right-2 top-2">cloase</button>

{% endblock body %}

</dialog>
