{% load i18n tz tz_detect leaflet_tags static unix_time %}
<table class="table table-sm" id="weather-table">
    <thead>
        <tr>
            <th>Weather</th>
            <th>Temperature(°C)</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {% for weather in weathers %}
            <tr>
                <td>
                    <div class="flex items-center gap-3">
                        <div class="avatar">
                            <div class="mask mask-squircle w-12 h-12">
                                <img src="https://openweathermap.org/img/wn/{{ weather.weather.0.icon }}@2x.png"
                                     alt="" />
                            </div>
                        </div>
                        <div>
                            <div class="font-bold">{{ weather.weather.0.main }}</div>
                            <div class="text-sm opacity-50">{{ weather.weather.0.description }}</div>
                        </div>
                    </div>
                </td>
                <td>
                    <b>{{ weather.main.temp }}</b>
                </td>
                <td>{{ weather.dt_txt|timezone:"Asia/Phnom_Penh"|date:"f a" }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
